$nav-link-hover-font-weight: 500; // Bold

// Modifications here
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "altlight": #E8E9F3,
    "silver": #CECECE,
    "gray": #A6A6A8,
    "navy": #272635,
    "navylight": #AEACC3,
    "bluelight": #B1E5F2
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
// Configuration
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";

// Helpers
@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";

// Icons
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

// custom styling
.nav-text {
    font-weight: normal;
    transition: font-weight 0.2s ease-in-out;
}

.nav-item {
    &:hover .nav-text {
        font-weight: #{$nav-link-hover-font-weight};
    }
}

@font-face {
    font-family: "Galey Rounded";
    src: url("../assets/Galey font/Galey Rounded Extra Light.ttf");
}

@font-face {
    font-family: "Galey Geo";
    src: url("../assets/Galey font/Galey Semi Bold.ttf");
}

@font-face {
    font-family: "Baskerville Italic";
    src: url("../assets/Galey font/Baskervville-Italic.ttf");
}


.background {
    height: 100vh;
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: center center;
}

.galey-geo {
    font-family: "Galey Geo";
}

.galey-rounded {
    font-family: "Galey Rounded";
}

.baskerville-italic {
    font-family: "Baskerville Italic";
}

